@font-face {
    font-family: 'wf_segoe-ui_light';
    src: url('fonts/rmc/latest.eot');
    src: url('fonts/rmc/latest.woff') format('woff'),url('fonts/rmc/latest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#selLang > option:first-child {color:#bbb;font-style:italic;}
#selLang option {font-size:11px;}
#chP div, #chS div
{
    display: inline;
    margin-right:30px;
}
#Navigation4_holder div {margin-right:22px;}
#chP div a, #chS div a
{
    text-decoration: none;
    color: #1a1a1a;
}
#chP div a:hover, #chS div a:hover
{
    text-decoration: underline;
    color: #1570a6;
}
#chP .sel, #chS .sel, #chP a:visited.sel, #chS a:visited .sel
{
    color: #0071bc;
}
.compositeModule_3Zone.homepage, .title.homepage
{
    padding:0px 0px;
}
.compositeModule_3Zone.homepage.grayBG,.compositeModule_1Zone.homepage.grayBG
{
    background:#eee;
    margin:30px 0px;
    padding-top:10px;
}
.tweet div:last-child span
{
    padding-right: 10px;
}
.tweet div:first-child
{
    line-height: 1.25;
}
.tweet .byLine
{
    margin-bottom:10px;
}
.lstNo li
{
    list-style: none;
    left:0px;
}
#contentArea .lstNo .conM ul
{
    left:0px;
}
#contentArea .lstNo .conM ul
{
    padding-left: 0px;
    margin-left:0px;
}
.blogComment
{
    position: relative;
}
    .blogComment img
    {
        margin-top: 5px;
    }
.blogComment div
{
    position: absolute;
    color: #fff;
    top:2px;
    left:0px;
    width:22px;
    text-align:center;
}
    .blogComment div:last-child
    {
        position: absolute;
        left:30px;
        width:auto;
        top:0px;
    }
.promo.homepage
{
    margin:0px 16px;
}
.promo.homepage img
{
    display: block;
    border:none;
}
.promo.layoutA > div:first-child
{
    float:left;
    height:380px;
    width:604px;
    margin-right:20px;
    margin-bottom:40px;
    position:relative;
}
.promo.layoutA > div:last-child div
{
    float:left;
}
.promo.layoutA > div:last-child div img
{
    width:292px;
    height:180px;
}
.promo.layoutA > div:last-child div:first-child
{
    margin-bottom: 20px;
}
.promo.layoutA #buttonsHolder
{
    top:330px;
    right:10px;
}
.promo.layoutB > div
{
    width: 916px;
    height: 578px;
    margin-bottom:40px;
    position:relative;
}
.promo.layoutB #buttonsHolder
{
    top:528px;
    right:10px;
}
.promo.layoutC > div:first-child
{
    width: 916px;
    height: 382px;
    margin-bottom:20px;
    position:relative;
}
.promo.layoutC #buttonsHolder
{
    top:330px;
    right:10px;
}
.promo.layoutC > div:last-child div
{
    float:left;
    margin-right:20px;
    margin-bottom:40px;
}
.promo.layoutC > div:last-child div img
{
    width:292px;
    height:180px;
}
.promo.layoutC > div:last-child div:last-child
{
    margin-right: 0px;
}
.promo.layoutD > div:first-child
{
    width: 916px;
    height: 382px;
    margin-bottom:40px;
    position:relative;
}
.promo.layoutD > div:last-child > div
{
    float:left;
    margin-right:20px;
    margin-bottom:40px;
    width:292px;
}
.promo.layoutD > div:last-child > div img
{
    width:292px;
    height:180px;
}
.promo.layoutD > div:last-child > div:last-child
{
    margin-right: 0px;
}
.promo.layoutD > div:last-child > div div
{
    margin-top:10px;
}
.promo.layoutD #buttonsHolder
{
    top:330px;
    right:10px;
}
.promo.layoutE > div:first-child
{
    width: 916px;
    height: 382px;
    margin-bottom:40px;
    position:relative;
}
.promo.layoutE > div:last-child > div
{
    float:left;
    margin-right:20px;
    margin-bottom:40px;
    width:292px;
}
.promo.layoutE > div:last-child > div img
{
    width:292px;
    height:180px;
}
.promo.layoutE > div:last-child > div:last-child
{
    margin-right: 0px;
}
.promo.layoutE > div:last-child > div div
{
    margin-top:10px;
}
.promo.layoutE #buttonsHolder
{
    top:330px;
    right:10px;
}
/* fonts and font formatting*/
.b, .people .GroupContact, .people .person .lastname, #contentArea #dedlM table.inner td.left, .pubD #contentArea td.heading {font-weight:bold;}
.n, #contentArea font.ImageBlock, span.ImageBlock, .versal #zone1 div.infographic h5, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea h6, #contentArea .H6, #contentArea .title, #contentArea .dirTagLink, #contentArea .byLine, #contentArea .copyright, #contentArea .relatedLinksHead, #contentArea .smallText, #contentArea .largeText, #contentArea #dedlM table.inner td, #contentArea .rssM .date, .pubD #contentArea td {font-weight:normal;}
#contentArea h1, #contentArea .H1, #contentArea h2, #contentArea .H2{font-weight: 300;}
.f1, #contentArea h6, #contentArea .H6 {font-family:'Courier New';}
.f2, #contentArea h1, #contentArea .H1, #contentArea h2, #contentArea .H2, #contentArea .title, #contentArea .largeText {font-family:wf_segoe-ui_light, "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI",Segoe,"Segoe WP","Tahoma","Verdana","Helvetica","Arial","sans-serif";}
.f3, body, #contentArea #dedlM button, #contentArea font.ImageBlock, span.ImageBlock, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, .versal #zone1 div.infographic h5, #contentArea .dirTagLink, #contentArea .byLine, #contentArea .copyright, #contentArea .relatedLinksHead, #contentArea .smallText, #contentArea #dedlM table.inner td, #contentArea .rssM .date, .lNavVertical ul, .lNavVerticalTabs ul, .pubD #contentArea td, .pubD #contentArea td.heading {font-family:wf_SegoeUI,"Times","serif","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana",”Helvetica”,"Arial","sans-serif";text-align:justify;text-justify:inter-ideograph}
/* .fs2, #contentArea H2 .ImageBlock, #contentArea .H2 .ImageBlock {font-size:53.333%!important;}
 .fs4, #contentArea H3 .ImageBlock, #contentArea .H3 .ImageBlock {font-size:66%!important;}
.fs6, #contentArea H4 .ImageBlock, #contentArea .H4 .ImageBlock {font-size:73%!important;}*/
.fs7, .fs3, .fs13, #contentArea, #contentArea font.ImageBlock, span.ImageBlock, body, .versal #zone1 div.infographicInner, #contentArea .conM ul ol, #contentArea .conM ul ul ul ul, #contentArea .conM ul ul, #contentArea .conM table, #contentArea .conM ol ol, #contentArea .conM ul ol, #contentArea .conM ol ol ol, #contentArea .conM ol ol ol ol, #contentArea .conM ul ul ul, #contentArea .conM ul ul ul ul, #contentArea .conM ul ul, #contentArea .conM li p, #contentArea .conM table, #contentArea .peM  .item, #contentArea .peMi .item, .pubD #contentArea td, .pubD #contentArea td.heading {font-size:15px;}
.fs14, #contentArea H6 .ImageBlock, #contentArea .H6 .ImageBlock {font-size:13px !important;}
.fs15, .fs19, #contentArea h4, #contentArea .H4, #contentArea h6, #contentArea .H6 {font-size:18px;}
.fs18, #contentArea h3, #contentArea .H3 {font-size:20px;}
    .fs19, #contentArea .largeText
    {
        font-size: 22px;
    }
.fs20, #contentArea h2, #contentArea .H2 {font-size:25px;}
.fs21, .fs1, #contentArea h1, #contentArea .H1, #contentArea H1 .ImageBlock, #contentArea .H1 .ImageBlock {font-size:30px;}
.fs22, #contentArea .title {font-size:40px;}
.fs30, .fs5, .fs11, .fs10, #contentArea .smTxt, #contentArea .dirTagLink, #contentArea .copyright, #contentArea .rssM .date, .versal .date, .pop ul li {font-size:11px;}
.fs31, .fs9, #footer, .versal #zone1 div.infographic, #contentArea #dedlM table.outer td.right, #contentArea #dedlM table.inner td, #contentArea .byLine {font-size:12px;}
.fs27, .fs12, .fs16, #contentArea h5, #contentArea .H5, #contentArea .relatedLinksHead, .versal #zone1 div.infographic h5  {font-size:15px;}
.fs28, #contentArea #dedlM button {font-size:16px;}
.fsi {font-style:italic;}
.fsn, #contentArea font.ImageBlock, span.ImageBlock {font-style:normal;}
.tdn, .versal #versalBtm a:hover, #contentArea a, #footer a {text-decoration:none;}
.tdni, .lNavVertical a, .lNavHorizontal a,.lNavVertical a:hover, .lNavHorizontal a:hover,.lNavVertical a:visited, .lNavHorizontal a:visited, .lNavVerticalTabs a, .lNavHorizontalTabs a,.lNavVerticalTabs a:hover, .lNavHorizontalTabs a:hover,.lNavVerticalTabs a:visited, .lNavHorizontalTabs a:visited {text-decoration:none!important;}
.tdu, #contentArea a:hover, #footer a:hover, a.translator:hover {text-decoration:underline;}
.tt1, #contentArea .relatedLinksHead {text-transform:uppercase;}
.crP, #contentArea #dedlM button {cursor:pointer;}
/*height and width */
.mh1, .compositeModule_2Zone > div.zone, .compositeModule_3Zone > div.zone, .compositeModule_4Zone > div.zone, .compositeModule_4Zone > div.zone, .compositeModule_1_2Zone > div.zone:first-child, .compositeModule_1_2Zone > div.zone + div.zone, .compositeModule_2_1Zone > div.zone:first-child, .compositeModule_2_1Zone > div.zone + div.zone, .compositeModule_1_3Zone > div.zone:first-child, .compositeModule_1_3Zone > div.zone + div.zone, .compositeModule_3_1Zone > div.zone:first-child, .compositeModule_3_1Zone > div.zone + div.zone, .compositeModule_1Zone > div.zone, .compositeModule_1_2_1Zone > div.zone:first-child, .compositeModule_1_2_1Zone > div.zone + div.zone + div.zone, .compositeModule_1_2_1Zone > div.zone + div.zone {min-height:10px;}
.ht1, .compositeModule_2Zone, .compositeModule_3Zone, .compositeModule_4Zone, .compositeModule_1_2Zone, .compositeModule_2_1Zone, .compositeModule_1_3Zone, .compositeModule_3_1Zone, .compositeModule_1Zone, .compositeModule_1_2_1Zone {height:100%;}
.ht0, .cl {height:0;}
.ht2, .cr, hr {height:1px;}
.ht6, #contentArea #dedlM div.btm, #footer {height:15px;}
.ht9, #contentArea #dedlM button {height:37px;}
.ht15, #contentArea #dpeM img, #contentArea .peMi img, #contentArea .videoM .SmallImageBlock, #contentArea .videoM .SmallImageBlock img {height:72px;}
.ht16, .people .person .BlankPictureDiv {height:75px;}
.ht17, #contentArea .peMi .itemShort {height:110px;}
.ht18, #contentArea .peMi .item {height:134px;}
.ht19, #contentArea .videoM .tile, #contentArea .videoM .tileExtra, #contentArea .videoM .tile > img, #contentArea .videoM .tileExtra > img, #contentArea .videoM .ImageBlock, #contentArea .videoM .ImageBlock img {height:150px;}
.ht20, #contentArea .videoM .tileExtra {height:190px;}
.w1, .compositeModule_1_2_1Zone > div.zone:first-child, .compositeModule_1_2_1Zone > div.zone + div.zone + div.zone {width:0%;}
.w3, .compositeModule_4Zone > div.zone {width:24%;}
.w4, .compositeModule_1_3Zone > div.zone:first-child, .compositeModule_3_1Zone > div.zone + div.zone {width:24%;}
.w5, .compositeModule_3Zone > div.zone, .compositeModule_1_2Zone > div.zone:first-child {width:32%;}
.w6, .compositeModule_2_1Zone > div.zone + div.zone {width:33%;}
.w7, .compositeModule_3Zone > div.zone + div.zone {width:33%;}
.w8 {width:40%;}
.w9, .compositeModule_2Zone > div.zone {width:49%;}
.compositeModule_2_1Zone > div.zone:first-child {width:65%;}
.w10 {width:60%;}
.w11, .compositeModule_1_2Zone > div.zone + div.zone, .compositeModule_1_2_1Zone > div.zone + div.zone {width:66%;}
.w12 {width:67%;}
.w13, .compositeModule_1_3Zone > div.zone + div.zone, .compositeModule_3_1Zone > div.zone:first-child {width:72%;}
.w14 {width:74.9%;}
.w15, .compositeModule_1Zone > div.zone, #chNav #chP table {width:100%;}
.w16, #contentArea #dpeM img, #contentArea .peMi img {width:72px;}
.w17, .people .person, .people .person .BlankPictureDiv {width:75px;}
.w18, #contentArea .videoM .SmallImageBlock, #contentArea .videoM .SmallImageBlock img {width:96px;}
.w35 {width:121px;}
.w19, #contentArea .peMi .item, #contentArea .peMi .itemShort {width:134px;}
.w22, #contentArea #dedlM button {width:163px;}
.w23 {width:180px;}
.w24, #contentArea .videoM .tile, #contentArea .videoM .tileExtra, #contentArea .videoM .tile > img, #contentArea .videoM .tileExtra > img, #contentArea .videoM .ImageBlock, #contentArea .videoM .ImageBlock img {width:200px;}
.w25, .versal #zone1 div.infographic {width:220px;}
.w26, .versal #zone2.conM {width:250px;}
.w27, .project1 #zone1 {width:280px;}
.w29 {width:297px;}
.w34, .project1 #zone2, .project1 #zone3, .versal #zone1.conM {width:560px;}
.w {width:996px;}
.sw {width:996px;}
#contentArea #dedlM table.inner {width:100%;} 
#contentArea #dedlM table.inner td.left {width:35%;}
#contentArea #dedlM table.inner td.right {width:65%;}
#contentArea #dedlM table.outer > td.left {width:240px;}
#contentArea #dedlM table.outer td.right {width:240px;}
/* alignments */
.tac, .JustifyCenter, .people .person, #chTB #chTer .item {text-align:center;}
.taj, .JustifyFull {text-align:justify;}
.tal, .JustifyLeft {text-align:left;}
.tar, .JustifyRight {text-align:right;}
#contentArea #dedlM table.inner td.right {text-align:left;}
.vam, .versal #versalBtm img, #contentArea #dedlM button img {vertical-align:middle;}
.vat, #contentArea #dedlM table.outer td {vertical-align:top;}
/* colors */
.c3, .c9, #contentArea, #contentArea .title, #contentArea h1, #contentArea .H1, #contentArea h2, #contentArea .H2, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea h6, #contentArea .H6, #contentArea .relatedLinksHead, .versal #zone1 div.infographic h5, .versal #versalBtm a, .versal #versalBtm a:hover, #contentArea .smallText, .pubD #contentArea td, .pubD #contentArea td.heading, #footer a {color: #1a1a1a;}
.c6, #contentArea a, #contentArea a:hover, #contentArea .dirTagLink, #contentArea #dedlM button, #footer a:hover, a.translator:hover {color:#1570a6;}
.c7, .lNavVertical a, .lNavHorizontal a,.lNavVertical a:hover, .lNavHorizontal a:hover,.lNavVertical a:visited, .lNavHorizontal a:visited, .lNavVerticalTabs a, .lNavHorizontalTabs a,.lNavVerticalTabs a:hover, .lNavHorizontalTabs a:hover,.lNavVerticalTabs a:visited, .lNavHorizontalTabs a:visited {color:#1570a6 !important;}
.c11, .versal .date, #contentArea font.ImageBlock, span.ImageBlock, #contentArea .byLine, #contentArea .rssM .date, #contentArea .largeText {color:#666;}
.c2, #contentArea .rssM .publisher {color:#007233;}
.c13, #contentArea a:visited {color:#68217a;}
.c17, #contentArea .subTitle, #contentArea .copyright {color:#999;}
.c18 {color:#bbb;}
.c20, .cr {color:#fff;}
/* backgrounds */
.bgc1 {background-color: #acc;}
.bgc2 {background-color:#999;}
.bgc3, .versal #zone1 div.infographic h5 {background-color:#dce6fa;}
.bgc4, .people .person .BlankPictureDiv {background-color:#eee;}
.bgc5 {background-color:#f3fafb;}
.bgc6,#contentArea #dedlM button {background-color:#fff;}
.bgc7, hr {background-color:#ddd;}
.bgi18 {background-image:url(/a/i/h_btn_dl.gif);}
.bgi19 {background-image:url(/a/i/n_btn_dl.gif);}
.bgi20 {background-image:url(/apps/dp/i/shade_dn.png);}
.bgp1 {background-position:top center;}
.bgp2 {background-position:bottom;}
.bgr1, #contentArea .videoM .tile div:first-child, #contentArea .videoM .tileExtra div:first-child, #contentArea .videoM .ImageBlock, #contentArea .videoM .SmallImageBlock, #contentArea #dedlM button, #contentArea #dedlM button:hover {background-repeat:no-repeat;}
.bgr2, .gradTop, #contentArea #dedlM table.outer td.left, #contentArea #dedlM table.outer td.right, #contentArea #dedlM div.btm {background-repeat:repeat-x;}
.bg1, #contentArea #dedlM table.inner td.left, #contentArea #dedlM table.inner td.right {background:none;}
/* borders */
.bc1, #contentArea .conM table {border-collapse:collapse;}
.bd1, #contentArea #dedlM button, #contentArea span.ImageBlock img, font.ImageBlock img, span.ImageBlock, font.ImageBlock, hr {border:none;}
.bd3, .versal #zone1 div.infographic, .people .person img {border:1px solid #999;}
.bd4, #contentArea .contentModule .BorderedImageWrapper, .conM .BorderedImageWrapper {border:1px solid #999 !important;}
.bdc1 {border-color:#999 !important;}
.bdc2 {border-color:#ddd !important;}
.bdc3, table[borderColor="#ccccbb"] {border-color:#ccb !important;}
.bdc4, table[borderColor="#ddeeee"] {border-color:#dee !important;}
.bdt1 {border-top: solid 1px;}
.bdt2 {border-top:1px solid #999;}
.bdt4,#contentArea #dedlM button, .lNavVertical li:first-child, .lNavVerticalTabs li:first-child, .lNavHorizontalTabs li {border-top:1px solid #ccc;}
.bdt5, .bt {border-top:1px solid #cff;}
.bdr1 {border-right: solid 1px ;}
.bdr2 {border-right:0px transparent;}
.bdr5 {border-right:1px solid #8e9b6b;}
.bdr6, ul.horiz li {border-right:1px solid #bbb;}
.bdr7,#contentArea #dedlM button, .lNavVerticalTabs li, .lNavHorizontalTabs li {border-right:1px solid #ccc;}
.bdr9, ul.horiz li.last {border-right:transparent;}
.bdb1 {border-bottom: solid 1px;}
.bdb2, .pop .h {border-bottom:1px solid #000;}
.bdb3, #contentArea h1.rule, #contentArea .H1.rule, #contentArea h2.rule, #contentArea .H2.rule {border-bottom:1px solid #998;}
.bdb4 {border-bottom:1px solid #999;}
.bdb5,#contentArea #dedlM button, .lNavVertical li, .lNavVerticalTabs li, .lNavHorizontalTabs li {border-bottom:1px solid #ccc;}
.bdb6, .bb {border-bottom:1px solid #cff;}
.bdb8, .lNavHorizontalTabs li.sel {border-bottom:none;}
.bdl1 {border-left: solid 1px ;}
.bdl2 {border-left:0px transparent;}
.bdl3 {border-left:1px solid #999;}
.bdl5,#contentArea #dedlM button, .lNavVerticalTabs li, .lNavHorizontal li, .lNavHorizontalTabs li:first-child {border-left:1px solid #ccc;}
.bdl6, ul.horiz li {border-left:1px solid #fff;}
.bdl8, ul.horiz li.first, .lNavHorizontal li:first-child {border-left:transparent;}
/* line height, word wrap, and letter spacing */
.lh1, #contentArea .peMi .item a, #contentArea .peMi .item span, #contentArea .rssM td ul {line-height:1;}
.lh2, #contentArea .title, #contentArea h1, #contentArea .H1, #contentArea h2, #contentArea .H2, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea .peMi .item .byLine {line-height:1.25;}
.lh3, #contentArea .conM li, #contentArea .byLine, #contentArea .copyright, #contentArea .smallText, #contentArea p, #contentArea td,#contentArea .largeText {line-height:1.5;}
.lh4, #contentArea #dedlM table.outer td, #contentArea .rssM .date {line-height:normal;}
.ww1, #contentArea #dedM, #contentArea #dpeM, #contentArea font.ImageBlock, span.ImageBlock, #contentArea .conM {word-wrap:break-word;}
.lsp1, #contentArea .relatedLinksHead {letter-spacing:1px;}
/* margins paddings */
.mt2 {margin-top:-10px;}
.mt3, #contentArea .rssM p+.date {margin-top:-14px;}
.mt4, *, #contentArea .conM ul ol, #contentArea .conM ol ul, .center, ul.horiz, .versal #versalBtm, #contentArea .deM, #contentArea #dedlM table.inner form, #contentArea .peMi .item, contentArea .peMi .itemShort, #contentArea .rssM td img, #contentArea td p, #contentArea .videoM .tile, #contentArea .videoM .tileExtra, #contentArea .videoM .SmallImageBlock img, #contentArea .videoM p, .medMargin, .people .person, .pop .h, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .lNavHorizontal ul, .lNavHorizontalTabs ul, #contentArea .conM p+ol, #contentArea .conM p+ul {margin-top:0px;}
.mt5, #contentArea .videoM .ImageBlock img, #contentArea .title  {margin-top:0px !important;}
#contentArea .byLine {margin-top:4px;}
.mt6, .pop ul li {margin-top:3px;}
.mt7, #contentArea .pubsM > ul > li > .smallText, #contentArea #dedlM button, #contentArea .rssM .date {margin-top:4px;}
.mt9, .mSmallTop, #contentArea .conM ul ul, #contentArea .videoM .date+p, .versal .title, .pubD .title, .versal #zone1 div.embeddedVideo, .versal #zone1 div.imageFloatLeft, .versal #zone1 div.imageFloatRight, #contentArea #dedM img, #contentArea #dpeM, .versal #zone1 div.infographic, div.lNavHorizontal, div.lNavHorizontalTabs, .lNavVerticalTabs ul {margin-top:6px;}
.mt10 {margin-top:0px !important;}
.mt17, hr {margin-top:7px;}
.mt11 {margin-top:8px;}
.mt19 {margin-top:9px;}
.mt12, .mMedTop {margin-top:12px;}
.mt20 {margin-top:17px;}
.mt14, .mLargeTop {margin-top:18px;}
#contentArea #dedlM table.inner {margin-top:-4px;}
.mt18 {margin-top:20px;}
.mt15, .mXlargeTop, #contentArea #dedlM table.outer td.right p {margin-top:21px;}
.mt16, .versal #zone1.conM, .versal #zone2.conM {margin-top:25px;}
.mt21 {margin-top:28px;}
.mt22 {margin-top:33px;}
.mr1, #contentArea #dedlM button {margin-right:-3px;}
.mr2, *, body, ul.horiz, .versal #versalBtm, #contentArea #dedlM table.inner form, #contentArea td p, #contentArea .videoM p, .pop .h, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .versal #zone1 div.imageFloatRight, .lNavHorizontal ul, .lNavHorizontalTabs ul {margin-right:0px;}
.mr3, #contentArea .videoM .ImageBlock img {margin-right:0px !important;}
.mr5, .pop ul li {margin-right:5px;}
.mr6, .mSmallRight, .versal #zone1 div.embeddedVideo, .versal #zone1 div.infographic {margin-right:6px;}
.mr7, .versal #zone1 img.inlineImageleft, #footer img, #contentArea .rssM td img {margin-right:10px;}
.mr9, .mMedRight, #contentArea #dpeM img, #contentArea .peMi .item, #contentArea .peMi .itemShort, .medMargin {margin-right:12px;}
.mr10, #contentArea .videoM .SmallImageBlock img, #contentArea #dedM img, #contentArea .videoM .ImageBlock {margin-right:15px;}
.mr20 {margin-right:16px;}
.mr11, .mLargeRight, #contentArea .deM, .versal #zone1 div.imageFloatLeft, #contentArea #dpeM {margin-right:18px;}
.mr12, .prjm img {margin-right:20px;}
.mr13, .mXlargeRight {margin-right:21px;}
.mr19 {margin-right:26px;}
.mr14, .people .person {margin-right:30px;}
.mr15, .versal #zone1.conM {margin-right:36px;}
.mr16, #contentArea .videoM .tile, #contentArea .videoM .tileExtra  {margin-right:42px;}
.mr17, #footer span {margin-right:68px;}
.mr18, .center {margin-right:auto;}
.mb1, *, body, .center, #contentArea .conM ol ol, #contentArea .conM ul ol, #contentArea #dedM img+p, ul.horiz, #border, #crumbBar #tools img, #contentArea .deM, #contentArea #dedlM table.inner form, #contentArea .rssM td img, #contentArea td p, .medMargin, .people .person, .pop .h, .versal #zone1.conM, .versal #zone1 div.embeddedVideo, .versal #zone1 div.infographic, #contentArea .videoM .SmallImageBlock, .lNavHorizontal ul, .lNavHorizontalTabs ul {margin-bottom:0px;}
.mb2, #contentArea .videoM .ImageBlock img {margin-bottom:0px !important;}
.mb3, #contentArea h1.rule, #contentArea .H1.rule, #contentArea h2.rule, #contentArea .H2.rule, .pop ul li {margin-bottom:3px;}
.mb4, .mSmallBottom, .versal #zone1 div.infographic h5, #contentArea .conM ul ul, #contentArea .conM ol ul, #contentArea .conM li {margin-bottom:6px;}
.mb13, hr {margin-bottom:7px;}
.mb5, .people .manager, .versal #zone1 div.imageFloatLeft, .versal #zone1 div.imageFloatRight {margin-bottom:10px;}
.mb6, .mMedBottom, #contentArea font.ImageBlock, #contentArea .peMi .item, #contentArea .peMi .itemShort, #contentArea #dpeM, span.ImageBlock {margin-bottom:12px;}
.mb7, .versal .title, .pubD .title {margin-bottom:14px !important;}
.mb8, #contentArea .videoM .SmallImageBlock img {margin-bottom:15px;}
.mb9, .mLargeBottom, #contentArea h6, #contentArea .H6, #contentArea .subTitle, #contentArea .videoM .tile, #contentArea .videoM .tileExtra, #contentArea .videoM p, #contentArea .conM ul, #contentArea .conM ol, #contentArea p, #contentArea #dedM, #contentArea #dedM img, #contentArea #dpeM img, .lNavVerticalTabs ul {margin-bottom:18px;}
.mb10, #contentArea .title {margin-bottom:18px !important;}
.mb11, .mXlargeBottom {margin-bottom:21px;}
.mb12, .versal #versalBtm, div.lNavHorizontal, div.lNavHorizontalTabs {margin-bottom:27px;}
.ml1, #contentArea #dedlM button {margin-left:-3px;}
.ml2, *, body, .versal #versalBtm img#iBtt, .versal #versalBtm td:first-child img, ul.horiz, .versal #versalBtm, #contentArea #dedlM table.inner form, #contentArea .peMi .item, #contentArea .peMi .itemShort, #contentArea .rssM td img, #contentArea td p, #contentArea .videoM .tile, #contentArea .videoM .tileExtra, #contentArea .videoM .SmallImageBlock img, #contentArea .videoM p, .people .person, .pop .h, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .versal #zone1.conM, .versal #zone1 div.embeddedVideo, .versal #zone1 div.imageFloatLeft, #contentArea #dedM img, .versal #zone1 div.infographic, .lNavHorizontal ul, .lNavHorizontalTabs ul {margin-left:0px;}
.ml3, #contentArea .videoM .ImageBlock img {margin-left:0px !important;}
.ml5, .pop ul li {margin-left:5px;}
.ml6, .mSmallLeft {margin-left:6px;}
.ml7, .versal #zone1 img.inlineImageright, .versal #zone1 div.imageFloatRight {margin-left:10px;}
.ml9, .mMedLeft {margin-left:12px;}
.ml10, #contentArea .conM blockquote {margin-left:15px;}
.ml11, .mLargeLeft, #contentArea .deM, .medMargin, #contentArea #dpeM, div.lNavHorizontal, div.lNavHorizontalTabs {margin-left:18px;}
.ml12, .mXlargeLeft {margin-left:21px;}
.ml13, .versal #versalBtm img {margin-left:27px;}
.ml14, .center {margin-left:auto;}
.pt1, .versal #zone2 div:first-child, .w, .project1 #zone3, .versal #zone1 div.infographicInner, .versal #zone2.conM, .people, #contentArea .conM, #contentArea .conM ul ul, #contentArea .conM ol ul, #contentArea h2, #contentArea .H2, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea .videoM .SmallImageBlock, .versal #zone1.conM, .versal #zone1 div.infographic, .people .person, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .lNavHorizontal ul, .lNavHorizontalTabs ul {padding-top:0;}
.pt2 {padding-top:0 !important;}
.pt4, .lNavHorizontal li {padding-top:2px;}
.pt5, .versal #zone1 div.infographic h5, .pop .h {padding-top:3px;}
.pt6 {padding-top:5px;}
.pt7, .versal #zone2 div, .lNavVertical li, .lNavVerticalTabs li, .lNavHorizontalTabs li, div.lNavHorizontal, div.lNavHorizontalTabs {padding-top:6px;}
.pt8, #contentArea #dedlM table.inner td {padding-top:2px;}
.pt9 {padding-top:10px;}
.pt10 {padding-top:12px;}
.pt11, #contentArea #dedlM table.outer > td {padding-top:24px;}
.pt13, .medMargin, .project1 #zone1, .project1 #zone2 {padding-top:50px;}
.pr1, .versal #zone1 div.infographic h5, .versal #zone2.conM, .versal #zone2 div, .people, #contentArea h2, #contentArea .H2, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea #dedlM table.inner td, .lNavVertical li, .lNavVerticalTabs li, #contentArea .videoM .SmallImageBlock, .versal #zone1.conM, .versal #zone1 div.infographic, .people .person, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .lNavHorizontal ul, .lNavHorizontalTabs ul {padding-right:0;}
.pr2 {padding-right:1em;}
.pr4, .versal #zone1 div.infographicInner {padding-right:6px;}
.pr6, .w, .lNavHorizontal li, .lNavHorizontalTabs li {padding-right:12px;}
.pr8, #contentArea .conM, #contentArea .conM ul ul, #contentArea .conM ol ul {padding-right:18px;}
.pr9, #contentArea {padding-right:10px;}
.pr10, #contentArea #dedlM table.outer > td {padding-right:24px;}
#contentArea #dedlM table.outer > td.left {padding-right:48px;}
.pr11, .project1 #zone1, .project1 #zone2, .project1 #zone3 {padding-right:50px;}
.pb1, #contentArea .videoM td, .w, .project1 #zone1, .project1 #zone2, .versal #zone1 div.infographicInner, .versal #zone2 div, .people, #contentArea, #contentArea .conM, #contentArea .conM ul ul, #contentArea .conM ol ul, #contentArea .videoM .SmallImageBlock, .versal #zone1.conM, .versal #zone1 div.infographic, #contentArea .conM ul, #contentArea .conM ol, #contentArea .conM li, #contentArea p, .lNavHorizontal ul, .lNavHorizontalTabs ul {padding-bottom:0;}
.pb2, .versal #zone1 div.infographic h5, .lNavHorizontal li, .pop .h {padding-bottom:3px;}
.pb3, #contentArea h1.rule, #contentArea .H1.rule, #contentArea h2.rule, #contentArea .H2.rule {padding-bottom:4px;}
.pb4, .prjm .title {padding-bottom:5px;}
.pb5, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, .lNavHorizontalTabs li {padding-bottom:6px;}
.pb6, .lNavVertical li, .lNavVerticalTabs li {padding-bottom:7px;}
.pb7, #contentArea #dedlM table.inner td {padding-bottom:9px;}
.pb8, .project1 #zone3, #contentArea h5, #contentArea .H5 {padding-bottom:10px;}
.pb9, #contentArea h2, #contentArea .H2 {padding-bottom:12px;}
.pb10, #contentArea h1, #contentArea .H1 {padding-bottom:15px;}
.pb11, #contentArea .rssM td, .lNavVertical ul {padding-bottom:18px;}
.pb12, .people .person {padding-bottom:20px;}
.pb13, #contentArea #dedlM table.outer > td {padding-bottom:24px;}
.pb14, .prjm, .versal #zone2.conM {padding-bottom:25px;}
.pb15 {padding-bottom:11px;}
.pl1, ul.horiz, .lNavHorizontal li:first-child, .project1 #zone1, .versal #zone2.conM, #contentArea h2, #contentArea .H2, #contentArea h3, #contentArea .H3, #contentArea h4, #contentArea .H4, #contentArea h5, #contentArea .H5, #contentArea #dedlM table.inner td, .lNavVertical li, #contentArea .videoM .SmallImageBlock, .versal #zone1.conM, .versal #zone1 div.infographic, .people .person, #contentArea .conM li, #contentArea p, .lNavHorizontal ul, .lNavHorizontalTabs ul {padding-left:0;}
.pl2 {padding-left:1em;}
.pl3, .versal #zone1 div.infographic h5, .pop .h {padding-left:3px;}
.pl5, .versal #zone1 div.infographicInner {padding-left:6px;}
.pl7, .versal #zone2 div {padding-left:10px;}
.pl8, .w, .lNavVerticalTabs li, .lNavHorizontal li, .lNavHorizontalTabs li {padding-left:12px;}
.pl9, .people {padding-left:14px;}
.pl11, #contentArea .conM, #contentArea .conM ul ul, #contentArea .conM ol ul, #contentArea .conM ul, .lNavVertical ul, .lNavVerticalTabs ul, .versal #contentArea {padding-left:18px;}
.pl12, #contentArea #dedlM table.outer > td {padding-left:24px;}
.pl13, #contentArea .conM ol {padding-left:28px;}
.pl14, .project1 #zone2, .project1 #zone3 {padding-left:50px;}
.pl15 {padding-left:56px;}
.pl16 {padding-left: 40px;}
.pl17 {padding-left:35px;}
.pl18 {padding-left:30px;}
.pl19 {padding-left:22px;}
.pl20 {padding-left:0px !important;}
.pl21, #contentArea {padding-left:10px;}
.pl22 {padding-left:18px;}
/* lists */
.lst1, .pop ul li {list-style-type:circle;}
.lst2, #contentArea .conM ol ol ol ol {list-style-type:lower-alpha;}
.lst3, #contentArea .conM ol ol ol {list-style-type:lower-roman;}
.lst4, ul.horiz li, .lNavVertical ul, .lNavVerticalTabs ul, .lNavHorizontal ul, .lNavHorizontalTabs ul {list-style-type:none;}
.lst5, #contentArea .conM ul {list-style-type:disc;}
.lst6, #contentArea .conM ol ol, #contentArea .conM ul ol {list-style-type:upper-alpha;}
/* floats and positioning */
.cb, .people .b {clear:both;}
.cl {clear:left;}
.cr {clear:right;}
/* .FR .FL .FN  being kept for legacy purposes of existing pages already using this class */
.fl, .FL, .prjm img, ul.horiz li, .project1 #zone3, .versal #zone1.conM, .versal #zone1 div.embeddedVideo, .versal #zone1 div.imageFloatLeft, .versal #zone1 div.infographic, .versal #zone2.conM, .people .person, .compositeModule_2Zone > div.zone, .compositeModule_3Zone > div.zone, .compositeModule_4Zone > div.zone, .compositeModule_1_2Zone > div.zone:first-child, .compositeModule_1_2Zone > div.zone + div.zone, .compositeModule_2_1Zone > div.zone:first-child, .compositeModule_2_1Zone > div.zone + div.zone, .compositeModule_1_3Zone > div.zone:first-child, .compositeModule_1_3Zone > div.zone + div.zone, .compositeModule_3_1Zone > div.zone:first-child, .compositeModule_3_1Zone > div.zone + div.zone, .compositeModule_1_2_1Zone > div.zone:first-child, .compositeModule_1_2_1Zone > div.zone + div.zone + div.zone, .compositeModule_1_2_1Zone > div.zone + div.zone, #contentArea .peMi .item, #contentArea .peMi .itemShort, #contentArea .videoM .tile, #contentArea .videoM .tileExtra {float:left;}
.fr, .FR, .project1 #zone1, .versal #zone1 div.imageFloatRight {float:right;}
.pa {position:absolute;}
.pr, .versal #versalBtm {position:relative;}
/* display */
.dib, .fn, .FN {display:inline-block;}
.dn {display:none;}
.db, .cl {display:block;}
.din, .lNavHorizontal li, .lNavHorizontalTabs li {display:inline;}
.oh, .zone, .project1 .zone, #contentArea .videoM .tile, #contentArea .videoM .tileExtra {overflow:hidden;}
.vh, .cl {visibility:hidden;}
.ws2, .versal #versalBtm td p {white-space:nowrap;}
.z1, #contentArea font.ImageBlock, span.ImageBlock {zoom:1;}
/*.wdsp1, #contentArea h5, #contentArea .H5 {word-spacing: -0.05em;}*/
.wdsp2, .lNavHorizontal ul, .lNavHorizontalTabs ul {word-spacing:-5px;}
.wdsp3, .lNavHorizontal li, .lNavHorizontalTabs li {word-spacing:normal;}
.content, .cl {content:".";}
.videoDescription {float:left;width:448px;margin-right:20px;}
.videoAbout {float:left;width:214px;margin-right:20px;}
.videoMore {float:left;width:214px;}
 
/* Versal-specific styles */
#contentArea .deM .title .subTitle { font-size: 30px; color: #606060; }
div.embeddedGallery { margin: 6px 10px 3px 0px; float: left; }
div.embeddedGalleryFull { margin: 10px 0px 10px 0px; }
div.imageAlignCenter { text-align: center; }
div.imageAlignRight { text-align: right; }
table.pullQuoteTable { width: 40%; padding: 0px 8px 8px 8px; }
table.pullQuoteLeft { margin-right: 20px; }
table.pullQuoteRight { margin-left: 20px; }
div.pullQuote { font-family: wf_segoe-ui_light, "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI",Segoe,"Segoe WP","Tahoma","Verdana","Helvetica","Arial","sans-serif"; font-weight: 300; }
div.pullQuoteText { font-size: 35px; color: #eb3c00; line-height: 1.25; }
div.pullQuoteBy { font-size: 20px; color: #666; line-height: 1.25; }
div.dataTableBottomMargin {margin-bottom:12px;}
tr.tableBorderRecord > td {border: 1px solid black;}
 
